.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .custom-button {
        width: 32px;
        height: 32px;
        margin-left: auto;
        /*margin-top: auto;*/
        border: none;
        background-color: #3a0647; 
        color: #2DDF33; /* Textfarbe */
    }

        .custom-button:hover {
            background-color: #A537D4;
            color: #2DDF33; /* Textfarbe */
        }

        /*Style für Alarm Switch Button*/
    .switchAlarm {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin-left: auto;
    }

        .switchAlarm input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #4CAF50; /* Grün für "an" */
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #4CAF50; /* Fokus-Stil */
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px); /* Bewegt den Schieberegler nach rechts, wenn er ausgewählt ist */
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px; /* Runde Ecken */
    }

        .slider.round:before {
            border-radius: 50%; /* Runder Schieberegler */
        }

    .checked {
        background-color: #4CAF50; /* Grün für "an" */
    }

    .unchecked {
        background-color: #ccc; /* Grau für "aus" */
    }
    /*Style für Alarm Switch Button Ende*/

    /* The switch - the box around the slider */
    /*.switchAlarm {
        position: relative;
        margin-left: auto;
        display: inline-block;
        width: 60px;
        height: 34px;
    }*/

        /* Hide default HTML checkbox */
        /*.switchAlarm input {
            opacity: 0;
            width: 0;
            height: 0;
        }*/
    /* The slider */
    /*.slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }*/

    /* Rounded sliders */
    /*.slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }*/
}
